@font-face {
    font-family: AvenirNextRegular;
    src: url('../font/AvenirNextLTPro-Regular.otf') format('truetype');
}

@font-face {
    font-family: AvenirNextBold;
    src: url('../font/AvenirNextLTPro-Bold.otf') format('truetype');
}

@font-face {
    font-family: AvenirNextBlack;
    src: url('../font/AvenirLTStd-Black.otf') format('truetype');
}

.body {
    font-family: AvenirNextRegular;
    /*max-width: 1440px;*/
    margin: auto;
}

.header {
    position: fixed;
    /*max-width: 1440px;*/
    width: 100%;
    z-index: 1;
}

.header-stripes {
    position: absolute;
    width: 100%;
    top: -135px;
}

/*Possibly reduntant code*/
.sticky {
    position: fixed;
    /*top: -85px;*/
    width: 100%
}

.logo {
    position: relative;
    top: -30px;
    left: 40%;
    width: 20%;
}

/*Possibly Unnecesary*/
.carousel {
    position: relative;
    object-position: top;
    height: 40vw;
    overflow: hidden;
}

.slideshow {
    position: fixed;
    margin: auto;
    z-index: -3;
    width: 100%;
}


.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: 100px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: -50px;
}

.dots {
    position: absolute;
    bottom: 10%;
    left: 25%;
    right: 25%;
    z-index: 0;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.midpage {
    width: 100%;
    background-color: white;
}

.nav-div {
    padding-top: 50px;
}

.nav-row { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;   
    margin-bottom: 50px;
    text-align: center;
}

.nav-row-1 {
    margin-top: 50px;
}

.nav-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

figcaption {
    display: block;
    margin-top: 20px;
}

.contact-section {
    display: block;
    position: relative;
    height: 1000px;
    background-image: url("../photos/midpage-background.png");
    background-size: 1920px;
    background-repeat: repeat-x;   
    background-position-y: bottom;
}

.contact-flex-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 400px;
    bottom: 0;
    margin-bottom: 120px;
    margin-left: 300px;
}

.contact-text {
    display: block;
    margin-bottom: 120px;    
}

.contact-text > h2 {
    font-size: 31px;
    white-space: nowrap;
    color: #ec4949;
}

.contact-text > h1 {
    font-family: AvenirNextBold;
    font-size: 50px;
    color: #0442d5;
    margin-top: -20px;

}

.contact-links-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.contact-links-flex img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    display: block;
    bottom: 0;
}

textarea {
    font-family: AvenirNext;
    resize: none;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 175px;
    border-radius: 15px;
    padding: 10px;
}

.form-box { 
    font-family: AvenirNext;
    font-size: 12px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical; 
}

.submit-button {
    font-family: AvenirNextBold;
    margin-top: 10px;
    background-color: white;
    color: #0442d5;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0442d5;
    color: white;
}

.submit-button {
    float: left;
    width: 122px;
    height: 52px;
    font-size: 24px;
}

.mascot {
    position: absolute;
    bottom: 120px;
    right: 300px;
}


.embedded-map {
    width: 100%;
    height: 550px;
}

iframe {
    display: block;
}

.footer {
    display: flex;
    background-color: #0442d5;
    width: 100%;
    height: 200px;
}

.footer-flex-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.footer-text {
    font-family: AvenirNextBlack;
    color: white;
    margin-top: auto;
}

.footer-mark {
    font-size: 20px;
}

.footer-info {
    text-align: right;
    display: flex;
}

.footer-info p {
    align-self: center;
}

/* Max-width decided based on mascot position in midpage */
@media only screen and (max-width: 1150px) {
    .sticky {
        top: -20px; 
    }

    .nav-row { 
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        margin: auto;
        margin-top: 50px;
    }

    .contact-flex-container {
        display: none;
    }

    .nav-button {
        display: block;
        width: 50px;
    }

    .figcaption {
        text-align: center;
    }

    .contact-form {
        margin: auto;
    }

    .mascot {
        display: none;
    }

    .footer {
        height: 350px;
    }
}
